@import "tailwindcss";

@theme {
    --color-primary-900: #1C1C1D;
    --color-primary-800: #252728;
    --color-primary-700: #364153;
    --color-text-800: #B8BBBF;
    --color-text-900: #0866FF;
    
}

